/* font-family: 'Open Sans', sans-serif; 
font-family: 'Source Sans Pro', sans-serif; */
@import 'normalize.css';

body{
    margin: 0;
    box-sizing: border-box;
}

.section-outer{}
.section-inner{
    max-width: 1370px;
    margin: 0 auto;
}

/* Common */

.greenfont{
    color: #19bd9a;
    font-weight: bold;
}
.boldfont{
    font-weight: bold;
}
.greenlightfont{
    color: #19bd9a;
    font-weight: lighter;
    font-style: italic;
}
/* header */
.section-header{
    color: #ffffff;
    background: url("../img/bg-header.png") no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    /* height: 100vh; */
    margin-top: 0;
    
}

.section-header::before{
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(32, 31, 31, 0.5);
}
    .section-inner{
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        
    }
    
    
    .section-header-menu{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        flex-shrink: 1;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 47px;
        margin-left: 100px;
        margin-right: 100px;
        
        
    }
        .section-header-menu_logo{}

        .section-header-menu_nav{
            width: 550px;
            
        }
            .site-navigation{
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0 0;
                padding: 0 0;
            }

            .site-navigation a{
                text-decoration: none;
                color: #ffffff;
            }
    .section-header-content{
        flex-grow: 1;
        margin-top: 220px;
    }
        .section-header-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
            .section-header-wrapper_title{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 35px;
                font-weight: 200;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            .section-header-wrapper_subtitle{
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                margin-top: 40px;
                text-align: center;
                max-width: 630px;
            }
    .section-header-more{
        margin-top: 220px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
        width: 35px;
        height: 35px;
        background: rgb(25, 189, 154);
        border-radius: 50%;
        position: relative;
    }
    .section-header-more img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); 
          
    }

/* header */

/* promo */
.section-promo{
    color: #333b46;  
}
    .section-inner-promo{
        max-width: 830px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 66px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
       
    }
        .section-promo-content{
            margin-top: 35px;
            
        }
            .section-promo-content-wrapper{}
                .section-promo-content-wrapper_title{
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 20px;
                    font-weight: 200;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }
                .section-promo-content-wrapper_subtitle{
                    margin-top: 55px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    letter-spacing: 0.05em;
                    max-width: 470px;
                }
                .section-promo-content-wrapper_more{
                    margin-top: 35px;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    letter-spacing: 0.05em;
                    background-color: #ffffff;
                    width: 140px;
                    height: 37px; 
                    border-radius: 18px;
                }
        .section-promo-image{}


/* promo */

/* details */
.section-details{
    background-color: #f3f3f3;
    color: #787c82;
    
}
    .section-inner-details{
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

                
    }
        .section-inner-details-wrapper{
            margin-top: 80px;
            margin-bottom: 100px;
            
            
        }
            .section-inner-details-wrapper_title{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 20px;
                font-weight: 200;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                
            }
            .section-inner-details-wrapper_subtitle{
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                letter-spacing: 0.05em;
                margin-top: 40px;
                margin-left: auto;
                margin-right: auto;
                max-width: 485px;
            }
            .section-inner-details-wrapper-icons{
                margin-top: 65px;
                margin-left: auto;
                margin-right: auto;
                width: 215px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
            }
                .section-inner-details-wrapper-icons-items{
                    background-color: #81868e;
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    position: relative;
                }
                .section-inner-details-wrapper-icons img{
                    
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%); 
                }
            .section-inner-details-wrapper-content{
                display: flex;
                flex-direction: column;
                text-align: left;
                margin-top: 65px;
            }
                .section-inner-details-wrapper-content_title{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: 0.05em;
                }
                .section-inner-details-wrapper-content_subtitle{
                    margin-top: 40px;
                    font-family: 'Open Sans', sans-serif;
                    display: flex;
                    justify-content: left;
                }
                    .section-inner-details-wrapper-content_subtitle-text1{
                        width: 330px;
                        font-size: 16px;
                        padding-right: 100px;
                    }
                    .section-inner-details-wrapper-content_subtitle-text2{
                        width: 520px;
                        font-size: 14px;
                    }

/* details */

/* projects */
.section-projects{
    color: #333b46;
    
}
    .section-inner-projects{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
        .section-projects-wrapper{}
            .section-projects-wrapper_title{
                margin-top: 80px;
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                font-weight: 200;
                letter-spacing: 0.05em;
            }
            .section-projects-wrapper_subtitle{
                margin-top: 40px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
            }
        .section-projects-gallery{
            margin-top: 60px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 200;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
            .section-projects-gallery-items-1{
                width: 700px;
                height: 320px;
                background: url(../img/photo-1.jpg) no-repeat 50% 50%;
            }
            .section-projects-gallery-items-2{
                width: 335px;
                height: 320px;
                background: url(../img/photo-2.jpg) no-repeat 50% 50%; 
                position: relative;   
                
            } 
            
            .section-projects-gallery-items-text{
                position: relative;
                z-index: 10;
                color: #ffffff;
                margin-top: 150px;
            }

            .section-projects-gallery-items-2:before{
                content: '';
                position: absolute;
                z-index: 5;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(32, 31, 31, 0.85);
            }

            .section-projects-gallery-items-3{
                width: 330px;
                height: 320px;
                background: url(../img/photo-3.jpg) no-repeat 50% 50%; 
                position: relative;   
                }

            .section-projects-gallery-items-3:before{
                content: '';
                position: absolute;
                z-index: 5;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(32, 31, 31, 0.85);
            }

        .section-projects-submit{
            
            padding-top: 45px;
            padding-bottom: 40px;
            background: url(../img/bg-featured.png)  no-repeat 50% 50%;
            position: relative;
        }
        .section-projects-submit:before{
            content: '';
            position: absolute;
            z-index: 5;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(25, 189, 154, 0.4);
            z-index: 5;
        }
            .section-projects-submit-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-left: auto;
                margin-right: auto;
                max-width: 1030px;
                color: #ffffff;
                position: relative;
                z-index: 10;
            }
                .section-projects-submit-content{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 20px;
                    font-weight: 200;
                    /* letter-spacing: 0.05em; */
                }
                .section-projects-submit-button{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    color: #ffffff;
                    width: 140px;
                    height: 37px;
                    border-radius: 15px;
                    border-color: #ffffff;
                    border-style: solid;
                    background-color: transparent;
                }
/* projects */

/* services */
.section-services{
    color: #636971;
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
}
    .section-inner-services{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }
        .section-inner-services-wrapper{
           text-align: center; 
        }
            .section-inner-services-wrapper_title{
                font-family: 'Source Sans Pro', sans-serif;;
                font-size: 20px;
                font-weight: 200;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            .section-inner-services-wrapper_subtitle{
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                margin-top: 40px;
            }
        .section-inner-services-content{
            margin-top: 60px;
            /* margin-left: auto;
            margin-right: auto; */
            margin-bottom: 140px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /* text-align: center; */
            /* max-width: 1030px; */
        }   
            
            .section-inner-services-content-icons{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 265px;
                padding-right: 45px;
            }

                .section-inner-services-content-icons-icon{
                    margin-left: auto;
                    margin-right: auto;
                    width: 53px;
                    height: 53px;
                    background: rgb(129, 134, 142); 
                    border-radius: 50%;
                    position: relative;
                }
                .section-inner-services-content-icons-icongreen{
                    margin-left: auto;
                    margin-right: auto;
                    width: 53px;
                    height: 53px;
                    background: rgb(25, 189, 154); 
                    border-radius: 50%;
                    position: relative;
                }
                .section-inner-services-content-icons-icon img{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%); 
                }
                .section-inner-services-content-icons-icongreen img{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%); 
                }

            .section-inner-services-content-list{
                padding-right: 80px;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: space-between;
                max-width: 405px;
                font-family: 'Open Sans', sans-serif;
                line-height: 1.5;
            }
                .section-inner-services-content-list-text1{
                    font-size: 20px;
                    
                }
                .section-inner-services-content-list-text2{
                    font-size: 16px;
                }
                 .section-inner-services-content-list-text3{
                    font-size: 14px;
                }
            .section-inner-services-content-diagrams{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: auto;
                margin-bottom: auto;
            }
                .section-inner-services-content-diagrams-item-percent{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 6px;
                }
                    .percent-number{
                        text-anchor: middle;
                        transform: translateY(0.4em);
                        
                    }
                .section-inner-services-content-diagrams-item-text{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                }

/* services */

/* impressed */
.section-impressed{
    color: #ffffff;
    background: url("../img/bg-impressed.png") no-repeat 50% 50%;
    background-size: cover;
    /* position: relative; */
    padding-top: 80px;
    background-color: #1d1d1d;
    background-blend-mode: soft-light;
}

/* .section-impressed::before{
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
} */
    .section-inner-impressed{
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        
    }
        .section-inner-impressed-wrapper{
            margin-left: 100px;
            position: relative;
        }
            .section-inner-impressed-wrapper_title{
                font-family: 'Source Sans Pro', sans-serif;;
                font-size: 20px;
                font-weight: 200;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            .section-inner-impressed-wrapper_subtitle{
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                line-height: 1.5;
                max-width: 600px;
            }
            .section-inner-impressed-wrapper_author{
                margin-top: 55px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.5;
                text-transform: uppercase;
            }
            .section-inner-impressed-wrapper_position{
                margin-bottom: 100px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                line-height: 1.5;
                text-transform: uppercase;
            }
            
            .section-inner-impressed-wrapper_monitor img{
                position: absolute;
                top: -120px;
                left: 770px;
            }

            .section-inner-impressed-wrapper_monitor-text{
                font-family: 'Open Sans', sans-serif;
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
                position: absolute;
                top: -10px;
                left: 910px;
            }
                

/* impressed */

/* portfolio */
.section-portfolio{
    color: #636971;
    
    padding-top: 80px;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 100px;
    background-color: #f3f3f3;
}
    .section-inner-portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
        .section-inner-portfolio-wrapper{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            max-width: 1110px;
        }
            .section-inner-portfolio_title{
                font-family: 'Source Sans Pro', sans-serif;;
                font-size: 20px;
                font-weight: 200;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            .section-inner-portfolio_subtitle{
                width: 490px;
                margin-top: 40px;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                line-height: 1.5;
            }
            .section-inner-portfolio_submenu{
                width: 570px;
                margin-top: 40px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 70px;
                padding:0 0;
                list-style: none;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                line-height: 1.5;
                color: #808080;
                
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .section-inner-portfolio_submenu-item{
                
            }

            .section-inner-portfolio-gallery{
                
                column-count: 4;
                width: 1110px;
                
            }
                .section-inner-portfolio-gallery img{
                    display: inline-block;
                    text-align: center;
                    margin: 5px 5px;
                }

            .section-inner-portfolio-start{
                margin-top: 40px;
                background: url("../img/bg-portfolio.png") no-repeat 50% 50%;
                background-color: #2cbaa0;
                background-blend-mode: luminosity;
            }
                .section-inner-portfolio-start-wrapper{
                    padding-top: 50px;
                    padding-bottom: 55px;
                }
                    .section-inner-portfolio-start-wrapper-content{
                        font-family: 'Open Sans', sans-serif;
                        line-height: 1.5;
                        color: #ffffff;
                    }
                        .section-inner-portfolio-start-wrapper-content_text{
                            font-size: 20px;
                            
                        }
                        .section-inner-portfolio-start-wrapper-content_button{
                            margin-top: 30px;
                            font-size: 16px;
                            width: 140px;
                            height: 40px;
                            color: #ffffff;
                            border-radius: 15px;
                            border-color: #ffffff;
                            border-style: solid;
                            background-color: transparent;
                        }

/* portfolio */

/* team */
.section-team{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
    .section-inner-team{
        max-width: 1030px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
        .section-inner-team-wrapper{
            
            color: #808080;
            padding-bottom: 100px;
        }
            .section-inner-team-wrapper_title{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 20px;
                font-weight: 200;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            .section-inner-team-wrapper_subtitle{
                margin-top: 40px;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                max-width: 485px;
            }
            .section-inner-team-wrapper_card{
                max-width: 1030px;
                margin-top: 60px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
                .section-inner-team-wrapper_content-photo{
                    width: 290px;
                    height: 365px;
                }
                .section-inner-team-wrapper_content-employee{
                    max-width: 370px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    text-align: right;
                }
                    .section-inner-team-wrapper_content-employee-name{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 20px;
                    }
                    .section-inner-team-wrapper_content-employee-position{
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 14px;
                        font-weight: 200;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                    }
                    .section-inner-team-wrapper_content-employee-quote{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                    }
                    .section-inner-team-wrapper_content-employee-diagram{
                        width: 330px;
                        height: 160px;
                    }
                        .section-inner-team-wrapper_content-employee-diagram-wrap{
                            padding-bottom: 25px;
                        }
                            .section-inner-team-wrapper_content-employee-diagram_sign{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                font-family: 'Source Sans Pro', sans-serif;
                                font-size: 16px;
                                font-weight: 200;
                                letter-spacing: 0.1em;
                                text-transform: uppercase;
                            }
                                .section-inner-team-wrapper_content-employee-diagram_sign-text{}
                                .section-inner-team-wrapper_content-employee-diagram_sign-percent{}
                            .section-inner-team-wrapper_content-employee-diagram_line{
                                margin-top: 7px;
                                /* text-align: left; */
                            }
                                .section-inner-team-wrapper_content-employee-diagram_line svg{
                                    width: 350px;
                                    height: 7px;
                                    stroke-width: 5;
                                }
                    .section-inner-team-wrapper-slider{
                        display: flex;
                        flex-direction: row;
                        width: 50px;
                        justify-content: space-between;
                        margin-top: 60px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                        .section-inner-team-wrapper-slider-item{
                            
                            width: 8px;
                            height: 8px;
                            background-color: transparent;
                            border: 1px solid rgb(25, 189, 154);
                            
                            border-radius: 50%;   
                        }

                        .section-inner-team-wrapper-slider-itemgreen{
                            width: 10px;
                            height: 10px;
                            background: rgb(25, 189, 154);
                            border-radius: 50%;
                        }
        
        .section-inner-team-contact{
            padding-top: 50px;
            padding-bottom: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.5;
            color: #ffffff;
            background: url("../img/bg-team.png") no-repeat 50% 50%;
            background-color: rgb(0, 0, 0);
            background-blend-mode: luminosity;
        }
            .section-inner-team-contact-text{
                font-size: 20px;
            }
            .section-inner-team-contact-button{
                margin-top: 30px;
                font-size: 16px;
                width: 145px;
                height: 40px;
                color: #ffffff;
                border-radius: 15px;
                border-color: #ffffff;
                border-style: solid;
                background-color: transparent;
            }

/* team */

/* testimonials */
.section-testimonials{
    background-color: #f3f3f3;
    padding-top: 80px;
    padding-bottom: 100px;
}
    .section-inner-testimonials{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        text-align: center;
    }
        .section-inner-testimonials-wrapper{
            margin-left: auto;
            margin-right: auto;
        }
            .section-inner-testimonials-wrapper_title{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 20px;
                font-weight: 200;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            .section-inner-testimonials-wrapper_subtitle{
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                max-width: 465px;
                margin-top: 40px;
                margin-bottom: 60px;
                margin-left: auto;
                margin-right: auto;
            }
            .section-inner-testimonials-wrapper_content{
                background-color: #ffffff;
                max-width: 1170px;
                padding-top: 60px;
                padding-bottom: 50px;
                display: flex;
                flex-direction: column;
            }
                .section-inner-testimonials-wrapper_content-wrap{
                    display: flex;
                    flex-direction: row;
                    margin-left: 140px;
                    margin-right: 100px;
                    
                    
                }
                    .section-inner-testimonials-wrapper_content-photo{}
                    .section-inner-testimonials-wrapper_content-text{
                        max-width: 735px;
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        padding-left: 100px;
                    }
                        .section-inner-testimonials-wrapper_content-say{
                            font-family: 'Myriad Pro';
                            font-size: 16px;
                            
                        }
                        .section-inner-testimonials-wrapper_content-name{
                            margin-top: 30px;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 16px;
                            font-weight: bold;
                            color: #19bd9a;
                        }
                        .section-inner-testimonials-wrapper_content-position{
                            margin-top: 10px;
                            font-family: 'Myriad Pro';
                            font-size: 14px;
                        }
                    
                .section-inner-testimonials-wrapper-slider{
                    display: flex;
                    flex-direction: row;
                    width: 50px;
                    justify-content: space-between;
                    margin-top: 60px;
                    margin-left: auto;
                    margin-right: auto;
                }
                    .section-inner-testimonials-wrapper-slider-item{
                        
                        width: 8px;
                        height: 8px;
                        background-color: transparent;
                        border: 1px solid rgb(25, 189, 154);
                        
                        border-radius: 50%;   
                    }

                    .section-inner-testimonials-wrapper-slider-itemgreen{
                        width: 10px;
                        height: 10px;
                        background: rgb(25, 189, 154);
                        border-radius: 50%;
                    }

/* testimonials */

/* news */
.section-news{
    color: #ffffff;
    background: url("../img/bg-news.png") no-repeat 50% 50%;
    background-color: rgb(15, 15, 15);
    background-blend-mode: soft-light;
}
    .section-inner-news{
        padding-top: 80px;
        padding-bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }
        .section-inner-news-wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
            .section-inner-news-wrapper-content{
                display: flex;
                flex-direction: column;
            }
                .section-inner-news-wrapper-content-header{
                    max-width: 485px;
                }
                    .section-inner-news-wrapper-content-header-title{
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 20px;
                        font-weight: 200;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                    }
                    .section-inner-news-wrapper-content-header-subtitle{
                        color: #b2b3b3;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        margin-top: 40px;
                    }
                .section-inner-news-wrapper-content-body{
                    margin-top: 100px;
                    padding-left: 70px;
                }
                    .section-inner-news-wrapper-content-body-title{
                        color: #e1e4e9;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 20px;
                    }
                    .section-inner-news-wrapper-content-body-author{
                        margin-top: 10px;
                        color: #464646;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 14px;
                        font-weight: 200;
                        font-style: italic;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                    }
                    .section-inner-news-wrapper-content-body-summury{
                        margin-top: 15px;
                        color: #464646;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 14px;
                        font-weight: 200;
                        letter-spacing: 0.1em;
                    }
                    .section-inner-news-wrapper-content-body-text{
                        max-width: 600px;
                        margin-top: 55px;
                        color: #464646;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                    }
                    .section-inner-news-wrapper-content-body-more{
                        margin-top: 75px;
                        color: #464646;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                    }
                .section-inner-news-wrapper-slider{
                    display: flex;
                    flex-direction: column;
                    height: 60px;
                    justify-content: space-between;
                    

                }
                    .section-inner-news-wrapper-slider-itemwhite{
                        width: 10px;
                        height: 10px;
                        background: rgb(178, 179, 179);
                        border-radius: 50%;
                    }
                    .section-inner-news-wrapper-slider-item{
                        width: 8px;
                        height: 8px;
                        background-color: transparent;
                        border: 1px solid rgb(178, 179, 179);
                        border-radius: 50%;
                    }
                    

/* news */

    .section-inner-testimonials-wrapper-slider-item{
        
        width: 8px;
        height: 8px;
        background-color: transparent;
        border: 1px solid rgb(25, 189, 154);
        
        border-radius: 50%;   
    }

    .section-inner-testimonials-wrapper-slider-itemgreen{
        width: 10px;
        height: 10px;
        background: rgb(25, 189, 154);
        border-radius: 50%;
    }

/* price */    
.section-price{
    background-color: #f3f3f3;
    color: #81868e;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
    .section-inner-price{
        margin-top: 80px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
    }
        
            .section-inner-price_title{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 20px;
                font-weight: 200;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            .section-inner-price_subtitle{
                margin-top: 40px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
            }
            .section-inner-price-wrapper{
                width: 830px;
            }
                .section-inner-price-wrapper_cards{
                    
                    margin-top: 60px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                    .section-inner-price-wrapper_cards-tag{
                        display: flex;
                        flex-direction: column;
                    }
                        .section-inner-price-wrapper_cards-tag-header{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 20px;
                            font-weight: bold;
                            color: #ffffff;
                            width: 235px;
                            height: 65px;
                            line-height: 65px;
                            background-color: #19bd9a;
                            padding-top: 33px;
                        }
                        .section-inner-price-wrapper_cards-tag-cost{
                            color: #19bd9a;
                            background-color: #ffffff;
                            font-family: 'Source Sans Pro', sans-serif;
                            font-size: 42px;
                            font-weight: 800;
                            padding-top: 65px;
                        }
                        .section-inner-price-wrapper_cards-tag-period{
                            font-family: 'Open Sans', sans-serif;
                            font-size: 20px;
                            background-color: #ffffff;
                            padding-top: 10px;
                            padding-bottom: 105px;
                        }
                    .section-inner-price-wrapper_cards-condition{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        background-color: #ffffff;
                        padding-top: 30px;
                        
                    }
                        .section-inner-price-wrapper_cards-condition-item{}
                        .section-inner-price-wrapper_cards-condition-start{
                            width: 230px;
                            height: 70px;
                            line-height: 70px;
                            background-color: #19bd9a;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 16px;
                            color: #ffffff;
                        }
                
/* price */ 

/* subscribe */
.section-subscribe{
    color: #ffffff;
    background: url("../img/bg-subscribe.png") no-repeat 50% 50%;
    background-color: #181818;
    background-blend-mode: luminosity;
}
    .section-inner-subscribe{
        display: flex;
        flex-direction: column;
    }
        .section-inner-subscribe-wrapper{
            padding-top: 80px;
            padding-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
            .section-inner-subscribe-wrapper_title{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 20px;
                font-weight: 200;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            .section-inner-subscribe-wrapper_subtitle{
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                margin-top: 40px;
                max-width: 490px;
            }
            .section-inner-subscribe-wrapper-submit{
                padding-top: 60px;
                display: flex;
                flex-direction: row;
                width: 520px;
            }
                .section-inner-subscribe-wrapper-submit_mail{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    line-height: 38px;
                    width: 360px;
                    height: 38px;
                    border:1px solid #ffffff;
                    padding-left: 30px;
                    text-align: left;
                    align-items: center;
                }
                .section-inner-subscribe-wrapper-submit_button{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    color: #ffffff;
                    width: 150px;
                    height: 40px;
                    text-transform: uppercase;
                    margin-left: 10px;
                    background-color: #19bd9a;
                    border: 0;
                }

/* subscribe */

/* contact */
.section-contact{
    background-color: #f3f3f3;
    color: #333b46;
    display: flex;
    flex-direction: column;
    text-align: center;
}
    .section-inner-contact{
        padding-top: 80px;
        padding-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
    }
        .section-inner-contact_title{
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 20px;
            font-weight: 200;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
        .section-inner-contact_subtitle{
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            margin-top: 40px;
            width: 480px;
            margin-left: auto;
            margin-right: auto;
        }
        .section-inner-contact-block{
            margin-top: 60px;
            display: flex;
            flex-direction: row;
            width: 940px;
            justify-content: space-between;
        }
            .section-inner-contact-block-item{}
                .section-inner-contact-block-item-top{
                    width: 285px;
                    height: 145px;
                }
                .section-inner-contact-block-item-bottom{
                    padding-top: 30px;
                    width: 285px;
                    height: 95px;
                    background-color: #ffffff;
                }
                    .section-inner-contact-block-item-bottom-header{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                        text-transform: uppercase;
                        
                    }
                    .section-inner-contact-block-item-bottom-value{
                        margin-top: 25px;
                        margin-bottom: 30px;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        text-transform: uppercase;
                        
                    }

/* contact */

/* submit */
.section-submit{
    padding-top: 80px;
    padding-bottom: 130px;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
    .section-inner-submit{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .section-inner-submit-consultation{
            display: flex;
            flex-direction: row;
            width: 940px;
            justify-content: space-between;
        }
            .section-inner-submit-consultation-name{
                border: 1px solid #a9a9a9;
                width: 248px;
                height: 43px;
                padding-left: 25px;
                line-height: 43px;
            }
            .section-inner-submit-consultation-mail{
                border: 1px solid #a9a9a9;
                width: 253px;
                height: 43px;
                padding-left: 25px;
                line-height: 43px;
            }
            .section-inner-submit-consultation-subject{
                border: 1px solid #a9a9a9;
                width: 248px;
                height: 43px;
                padding-left: 25px;
                line-height: 43px;
            }
    .section-inner-submit-consultation-input{
        border: 1px solid #a9a9a9;
        width: 938px;
        height: 188px;
        margin-top: 30px;
    }
    .section-inner-submit-now{
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #19bd9a;
        margin-top: 30px;
        width: 940px;
        height: 55px;
        border: 0;
    }

/* submit */

/* map */

/* map */

/* footer */

/* footer */